.all_part{
    width:100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_part .message{
    text-align: center;
}

.all_part .message span{
    font-size: 65px;
}
.all_part .message a{
    color:var(--color-success);
    text-decoration: none;
}